* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;;
}

:root {
    /* Color Variables */
    --primary-color: #18de4d;
    --second-color: #ffffff;
    --third-color : #000000;

    /* padding */
    --padding-page : 20px 5%;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--padding-page);
}

.logo-link {
    color: var(--primary-color);
    font-size: 2rem;
    text-decoration: none;
    display: flex;
}

.navigation {
    display: flex;
    justify-content: center;
    column-gap: 30px;
}

.navigation ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    column-gap: 30px;
}

.navigation a {
    color: var(--third-color);
    text-decoration: none;
    font-size: 18px;
    display: flex;
    column-gap: 5px;
}

.dark-mode-button {
    color: var(--third-color);
    font-size: 18px;
    background-color: unset;
    border: unset;
    cursor: pointer;
}

.hamburger-button {
    color: var(--third-color);
    font-size: 20px;
    background-color: unset;
    border: unset;
    cursor: pointer;
    display: none;
}

.header-container {
    padding: var(--padding-page);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
}

.input-name {
    padding: 5px 10px;
    width: 20%;
    border: 2px solid;
    border-radius: 30px;
}

.input-name:focus {
    outline: none;
}

.submit-name-button {
    color: var(--second-color);
    background-color: var(--primary-color);
    font-size: 16px;
    padding: 5px 7px;
    border: 2px solid var(--primary-color);
    border-radius: 30px;
    cursor: pointer;
    transition: all .30s ease;
}

.submit-name-button:hover {
    color: var(--third-color);
    background-color: var(--second-color);
}

.main-container {
    padding: var(--padding-page);
}

h2 {
    text-align: center;
}

.products-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 50px;
}

.coffee-product {
    background-color: var(--second-color);
    box-shadow: 0px 0px 5px var(--third-color);
    max-width: 300px;
    padding: 30px;
    border-radius: 20px;
}

.details {
    margin-top: 30px;
}

.add-cart-button {
    background-color: var(--primary-color);
    color: var(--second-color);
    font-size: 16px;
    padding: 5px 7px;
    margin-top: 10px;
    border: 2px solid var(--primary-color);
    border-radius: 30px;
    cursor: pointer;
    transition: all .30s ease;
}

.add-cart-button:hover {
    color: var(--third-color);
    background-color: var(--second-color);
}

.footer-container {
    padding: var(--padding-page);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}