* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    ;
}

:root {
    /* Color Variables */
    --primary-color: #18de4d;
    --second-color: #ffffff;
    --third-color: #000000;

    /* padding */
    --padding-page: 20px 5%;
}

/* body {
    background-color: var(--second-color);
    color: var(--third-color);
} */

/* Navbar */

.navbar-container {
    background-color: var(--second-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--padding-page);
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
}

.logo-link {
    color: var(--primary-color);
    font-size: 2rem;
    text-decoration: none;
    display: flex;
}

.navigation {
    display: flex;
    justify-content: center;
    column-gap: 30px;
}

.navigation ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    column-gap: 30px;
}

.navigation .logo-display {
    display: none;
}

.navigation a {
    color: var(--third-color);
    text-decoration: none;
    font-size: 18px;
    display: flex;
    column-gap: 5px;
}

.dark-mode-button {
    color: var(--third-color);
    font-size: 18px;
    background-color: unset;
    border: unset;
    cursor: pointer;
    display: flex;
    column-gap: 5px;
}

.hamburger-button {
    color: var(--third-color);
    font-size: 2rem;
    background-color: unset;
    border: unset;
    cursor: pointer;
    display: none;
}

/* Navbar */

/* Header */

.header-container {
    text-align: center;
    padding: var(--padding-page);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
}

.input-name {
    padding: 5px 10px;
    width: 20%;
    border: 2px solid;
    border-radius: 30px;
}

.input-name:focus {
    outline: none;
}

.submit-name-button {
    color: var(--second-color);
    background-color: var(--primary-color);
    font-size: 16px;
    padding: 5px 7px;
    border: 2px solid var(--primary-color);
    border-radius: 30px;
    cursor: pointer;
    transition: all .30s ease;
}

.submit-name-button:hover {
    color: var(--third-color);
    background-color: var(--second-color);
}

/* Header */

/* Main Container */

.main-container {
    padding: var(--padding-page);
}

h2 {
    text-align: center;
}

.products-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 50px;
}

.coffee-product {
    background-color: var(--second-color);
    box-shadow: 0px 0px 5px var(--third-color);
    max-width: 300px;
    padding: 30px;
    border-radius: 20px;
}

.details {
    margin-top: 30px;
}

.add-cart-button {
    background-color: var(--primary-color);
    color: var(--second-color);
    font-size: 16px;
    padding: 5px 7px;
    margin-top: 10px;
    border: 2px solid var(--primary-color);
    border-radius: 30px;
    cursor: pointer;
    transition: all .30s ease;
}

.add-cart-button:hover {
    color: var(--third-color);
    background-color: var(--second-color);
}

/* Main Container */

/* Footer */

.footer-container {
    padding: var(--padding-page);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/* Footer */

/* Dark Mode */

body.dark-mode {
    background-color: var(--third-color);
    color: var(--second-color);
}

body.dark-mode .navbar-container {
    background-color: var(--third-color);
}

body.dark-mode .navigation a {
    color: var(--second-color);
}

body.dark-mode .dark-mode-button {
    color: var(--second-color);
}

body.dark-mode .coffee-product {
    color: var(--third-color);
    box-shadow: unset;
}

/* Mobile Responsive (768px) */
@media (max-width: 768px) {

    /* Navbar */

    .navigation {
        position: absolute;
        top: 0;
        left: -100%;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        row-gap: 30px;
        width: 200px;
        height: 100vh;
        padding: var(--padding-page);
        background-color: var(--second-color);
        box-shadow: 0px 3px 5px var(--third-color);
        transition: all .50s ease;
    }

    .navigation.active {
        left: 0;
    }

    .navigation ul {
        flex-direction: column;
        align-items: flex-start;
        row-gap: 30px;
    }

    .navigation .logo-display {
        display: block;
    }

    .navigation .logo-display a {
        color: var(--primary-color);
        font-size: 2rem;
        text-decoration: none;
        display: flex;
    }

    .hamburger-button {
        display: block;
    }

    /* Navbar */

    /* Header */

    .input-name {
        width: 70%;
    }

    /* Header */

    /* Main Container */

    .products-container {
        flex-direction: column;
        row-gap: 50px;
    }

    /* Main Container */

    /* Dark Mode */

    body.dark-mode .hamburger-button {
        color: var(--second-color);
    }

    body.dark-mode .navigation a {
        color: var(--third-color);
    }

    body.dark-mode .logo-display a {
        color: var(--primary-color);
    }

    body.dark-mode .dark-mode-button {
        color: var(--third-color);
    }

    /* Dark Mode */
}